@charset "UTF-8";
@font-face {
	font-family: 'KimjungchulGothic-Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: "KimjungchulGothic-Bold";
}
img{
	width:150px; 
	height:150px;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #FCEDAA;
	overflow-x: hidden;
	/*   transition: 0.5s; */
 	padding-top: 160px;
}

/*    .logo-toggle-container { */
/*         display: flex; */
/*         align-items: center; */
/*     } */
    
/*     .logo-toggle-container img { */
/*         margin-right: 10px; 필요한 만큼의 여백을 조정합니다 */
/*     } */
    
/*     .logo-toggle-container .toggle { */
/*         cursor: pointer; */
/*     } */

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color: #363636;
	display: block;
	/*   transition: 0.3s; */
}

.sidenav a:hover {
	color: #A9CFE2;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	/*   transition: margin-left .5s; */
	padding: 16px;
}

span.toggle {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 30px; 
  cursor: pointer;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}